@media (max-width: 575px) {
	.search {
		margin-top: 15px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.search {
		margin-top: 45px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.search {
		margin-top: 90px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.search {
		margin-top: 135px;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.search {
		margin-top: 170px;
	}
}
@media (min-width: 1400px){
  .search{
    margin-top: 270px;
  }
}
